package ${packageName}

/** This is a bse class to be extended by any enumeration type */
class XsdEnumerationImpl extends XsdEnumerationDefinition {

	/** The name of the data type if available */
	String typeName

	static constraints = {
		typeName(nullable:true, maxLength:255)
	}
}
